<?xml version="1.0"?>

<launch>
    <node name="ir_corrector" pkg="ir_correction" type="ir_corrector.py" output="screen"/>
    <node name="ufm_control" pkg="ufm_controller" type="ufm_control.py" output="screen"/>
    <node name="ws_gen" pkg="ws_generator" type="ws_gen.py" output="screen"/>
</launch>

