<?xml version="1.0"?>

<launch>

    <node name="ev_control" pkg="output_controller" type="output_control.py" output="screen">
        <param name="name" value="ev"/>
        <param name="i2c_address" value="44" type="int"/>
        <param name="scale" value="0.90"/>
    </node>

    <node name="ufm_control" pkg="output_controller" type="output_control.py" output="screen">
        <param name="name" value="ufm"/>
        <param name="i2c_address" value="45" type="int"/>
        <param name="scale" value="0.55"/>
    </node>

    <node name="ev_frequency" pkg="output_controller" type="frequency_control.py" output="screen">
        <param name="name" value="ev"/>
        <param name="arduino_case" value="2"/>
    </node>

    <node name="ufm_frequency" pkg="output_controller" type="frequency_control.py" output="screen">
        <param name="name" value="ufm"/>
        <param name="arduino_case" value="3"/>
    </node>


</launch>

